# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "eGfY02RfIxzeVtQbemf0GCm4L8iV0e8en4adfBjXBeghT6SDFLghHidN2eozCP8BffgwRPW2vNSYQi+UaCOJrAnjpF0WAPRqC4ycMhdg1nHcGqhLlS0nn5qdj9tByCArYLmw42v2kRbPfUM0b86wp+nLJJp3DJ3vYzhQQYesyFZVfD8qOykZNPVjQJaKynEo1OURWmu0E+mQA8IlM3WwlO/emPyS9b7pm8LAOOM5aNxiTznxrjDiRHzp8v/UIB65Ezdlur3lKkN1xevqZ5eBMEnZpdDeMbHTTzMeaOm8sR+T4XdwBW3mhy96VHyT5UjrLx6W6NSWczOf+r6xNVUnYIxRzmDbfjX2CJDO5Aju4BVaX7olD6gdxaE4duPh2ukFKAJdyiRG9RPHL07c2gQCq7QIjaPCrdN4gFeU0UProHdwQBVMytRoo7NAAwYeMgF0SVZXLDa2Y5uhRpCektXZGYp4jGXcxsNFHBe7feNYYvUn/7BETdvWRHWRyeMy30Ifl3e2XFVXiQFg7qH+p2oDVkrPFrkK8W/z2YZ3WaxDY1zSPZc1DtTTr/33ub+U7Gg/NC07VpsfoiZnPxCQwWunbkSXnoM/nhQaNkWhH4hGQkM2FpvmpUzlxvLwiyApxs7qhbD/68v4JNbqcSYlGPc5WkTg1M+sVQnx3qKbp9alBrg="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2 conda-build
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  -  conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml